body {
  background-color: #ecfbfc;

}
h1 {
  text-align: center;
}
.showBackground {
 list-style-type: none;
 display:inline;
 padding: 20px;
}
.showImage {
 list-style-type: none;
 display:inline;
 padding: 20px;
}
 /* li {
  list-style-type: none;
  display:inline;
  padding: 20px;
} */
.animalCard {
  /* position: absolute; */
  border: 1px solid black;
  background-color: white;
  width: 140px;
  height: 130px;
  border-radius:5px;
}
/* .showImage {
  visibility:hidden;
} */
.animalBackCard {
  border: 1px solid black;
  background-color: white;
  width: 130px;
  height: 115px;
  border-radius:5px;
  margin: 10px;


}

.frontPageImage {
  width: 800px;
  height: 500px;
  margin-top: 20px;
  margin: auto;

  padding-top: 15px;
  padding-bottom: 10px;

  justify-content: space-around;
  display:flex;
  flex-direction: row;
}
.container {
  width: 1152px;
  height: 715px;
  background-color: #ffc8bd;
  margin-top: 20px;
  margin: auto;

  padding-top: 15px;
  padding-bottom: 10px;

  justify-content: space-around;
  display:flex;
  flex-direction: row;
}
.playLink {
  text-decoration: none;
  margin: auto;
}
